<div class="container">
  <h1>Todos:</h1>

  <mat-form-field appearance="outline">
    <mat-label>Add New Todo</mat-label>
    <input [(ngModel)]="todo" matInput placeholder="Presentation for NgPerth" (keyup.enter)="addTodo(todo)"
      autocomplete="off">
  </mat-form-field>

  <div @listStaggerOnEnterOnLeave>
    <mat-card *ngFor="let todo of todos; let i = index" (click)="removeTodo(i)" [@slideOutRightOnLeave]
      [@fadeInRightOnEnter] matRipple>{{todo}}</mat-card>

    <div *ngIf="todos.length === 0" class="empty-list" @fadeInUpOnEnter>
      The list is empty
    </div>
  </div>
  <ul>
  </ul>
</div>
