<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>NG Perth Meetup</h1>
  <nav class="top-navigtaion">
    <a mat-button routerLink="/" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/first-animation" routerLinkActive="active">First Animation</a>
    <a mat-button routerLink="/enter-leave" routerLinkActive="active">On Enter/On Leave</a>
    <a mat-button routerLink="/todo" routerLinkActive="active">To Do</a>
  </nav>
</mat-toolbar>

<mat-sidenav-container class="sidenave-container">
  <mat-sidenav #snav mode="over" fixedTopGap="56">
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/first-animation" routerLinkActive="active">First Animation</a>
      <a mat-list-item routerLink="/enter-leave" routerLinkActive="active">On Enter/On Leave</a>
      <a mat-list-item routerLink="/todo" routerLinkActive="active">To Do</a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- <mat-sidenav-content class="router-container" [@routeAnimation]="prepRouteState(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </mat-sidenav-content> -->

  <mat-sidenav-content class="router-container" [@routeAnimation]="routerOutlet.activatedRouteData">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
