<h1>Hello NG-Perth!</h1>
<div @enter1>
  some text some text some text some text some text some text some text some text some text some text
  some text some text some text some text some text some text some text some text some text some text
  some text some text some text some text some text some text some text some text some text some text
  some text some text some text some text some text some text some text some text some text some text
  some text some text some text some text some text some text some text some text some text some text
  some text some text some text some text some text some text some text some text some text some text
  some text some text some text some text some text some text some text some text some text some text
  some text some text some text some text some text some text some text some text some text some text
  some text some text some text some text some text some text some text some text some text some text
  some text some text some text some text some text some text some text some text some text some text
  some text some text some text some text some text some text some text some text some text some text
  some text some text some text some text some text some text some text some text some text some text
  some text some text some text some text some text some text some text some text some text some text
  some text some text some text some text some text some text some text some text some text some text
  some text some text some text some text some text some text some text some text some text some text
  some text some text some text some text some text some text some text some text some text some text
</div>
<div @enter2>
  <app-angular-img @rubberBandOnEnter></app-angular-img>
</div>
